Common/Libraries/Utilities/Service References/EventLoggerService/EventLoggerService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.252.50.138/Ipsi.EventLogger/EventLoggerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" />
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="entry" nillable="true" type="q1:ErrorLogDetailEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="request" nillable="true" type="q2:ServiceCallLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogServiceCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogServiceCallResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogStartServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="startrequest" nillable="true" type="q3:StartServiceCallLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogStartServiceCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogStartServiceCallResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEndServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="endrequest" nillable="true" type="q4:EndServiceCallLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEndServiceCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogEndServiceCallResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="GetServiceCallsResult" nillable="true" type="q5:ArrayOfServiceCallLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="criteria" nillable="true" type="q6:LogSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ipsi.Common.Databases.Utilities.Types" minOccurs="0" name="GetErrorsResult" nillable="true" type="q7:ErrorLogSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>