Common/Libraries/Utilities/Contracts/CanonicalAgent.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CanonicalAgent" 
                  targetNamespace="http://web.ipsi.ie/schemas/core/business/2008/03"
                  elementFormDefault="qualified"
                  attributeFormDefault="qualified"
                  xmlns="http://web.ipsi.ie/schemas/core/business/2008/03"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="CanonicalAgent">
    <xs:sequence>

      <xs:element name="Reference" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="LeadAgentReference" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="Type" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="ExternalReference" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="ChequeAgentReference" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="SourceAgentReference" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="BusinessName" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="70"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="Surname" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="FirstName" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="IsLeadAgent" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="DateOfBirth" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="FiscalCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="PhoneNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="LevelOfOperation">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:element name="CanonicalAgent" type="CanonicalAgent" nillable="true"/>

  <xs:complexType name="ArrayOfCanonicalAgent">
    <xs:sequence>
      <xs:element name="CanonicalAgent" type="CanonicalAgent" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ArrayOfCanonicalAgent" type="ArrayOfCanonicalAgent" nillable="true"/>

</xs:schema>
