ProductTests/ProductTests/Service References/DartaBusinessServices/BusinessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SQL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SQL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfItalianPostCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItalianPostCode" nillable="true" type="tns:ItalianPostCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItalianPostCode" nillable="true" type="tns:ArrayOfItalianPostCode" />
  <xs:complexType name="ItalianPostCode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProvinceCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItalianPostCode" nillable="true" type="tns:ItalianPostCode" />
  <xs:complexType name="ArrayOfItalianProvince">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItalianProvince" nillable="true" type="tns:ItalianProvince" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItalianProvince" nillable="true" type="tns:ArrayOfItalianProvince" />
  <xs:complexType name="ItalianProvince">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItalianProvince" nillable="true" type="tns:ItalianProvince" />
  <xs:complexType name="ArrayOfItalianTownCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItalianTownCode" nillable="true" type="tns:ItalianTownCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItalianTownCode" nillable="true" type="tns:ArrayOfItalianTownCode" />
  <xs:complexType name="ItalianTownCode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocalityCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProvinceCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ItalianTownCode" nillable="true" type="tns:ItalianTownCode" />
</xs:schema>