ProductTests/ProductTests/Service References/DartaBusinessServices/BusinessService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" />
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" />
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Ipsi.Darta.WebServices.Business" />
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SQL" />
  <xs:element name="GetCountryDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCountryDictionaryResult" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDictionaryByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q2:CountryDictionaryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDictionaryByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCountryDictionaryByKeyResult" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonISOCountryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonISOCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetCommonISOCountryListResult" nillable="true" type="q4:CountryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetAllCountryListResult" nillable="true" type="q5:CountryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassificationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="clientType" type="q6:FatcaClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetClassificationListResult" nillable="true" type="q7:ClassificationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClassificationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClassificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetAllClassificationListResult" nillable="true" type="q8:ClassificationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetReviewTypeListResult" nillable="true" type="q9:ReviewTypeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetReportingStatusListResult" nillable="true" type="q10:ReportingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCRSClassificationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCRSClassificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetCRSClassificationListResult" nillable="true" type="q11:ClassificationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCRSReviewTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCRSReviewTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetCRSReviewTypeListResult" nillable="true" type="q12:ReviewTypeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCRSReportingStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCRSReportingStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetCRSReportingStatusListResult" nillable="true" type="q13:ReportingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRebalancingFundSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="switch" nillable="true" type="q14:DartaSwitchFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRebalancingFundSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessRebalancingFundSwitchResult" nillable="true" type="q15:DartaSwitchFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetTransactionPermissionsResult" nillable="true" type="q16:DartaTransactionPermissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralPolicyInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q17:DartaGeneralInfoSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralPolicyInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetGeneralPolicyInformationResult" nillable="true" type="q18:DartaGeneralInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBenefitSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetBenefitSummaryResult" nillable="true" type="q19:BenefitSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="paymentCriteria" nillable="true" type="q20:PaymentCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetPaymentSummaryResult" nillable="true" type="q21:DartaPaymentSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="policyCriteria" nillable="true" type="q22:DartaClientCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetPolicyClientsResult" nillable="true" type="q23:DartaClientSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="memoCriteria" nillable="true" type="q24:MemoCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetMemosResult" nillable="true" type="q25:MemoSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="investmentCriteria" nillable="true" type="q26:DartaInvestmentDetailsSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetInvestmentDetailsResult" nillable="true" type="q27:DartaInvestmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommissionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommissionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Ipsi.Darta.WebServices.Business" minOccurs="0" name="GetCommissionDetailsResult" nillable="true" type="q28:DartaCommissionSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeneficiaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeneficiariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetBeneficiariesResult" nillable="true" type="q29:DartaBeneficiaries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetBankDetailsResult" nillable="true" type="q30:Bank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetContactDetailsResult" nillable="true" type="q31:DartaContactDetailsSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="clientSearchCriteria" nillable="true" type="q32:ClientSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetClientsResult" nillable="true" type="q33:ClientSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="agentCriteria" nillable="true" type="q34:AgentCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetAgentResult" nillable="true" type="q35:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="transactionCriteria" nillable="true" type="q36:TransactionCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q37:TransactionSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="clientPolicyCriteria" nillable="true" type="q38:DartaClientPolicyCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetClientPoliciesResult" nillable="true" type="q39:DartaClientPolicySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequirements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="requirementCriteria" nillable="true" type="q40:RequirementCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequirementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetRequirementsResult" nillable="true" type="q41:RequirementSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="pipelineSearchCriteria" nillable="true" type="q42:PipelineCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetPipelineResult" nillable="true" type="q43:DartaPipelineSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialDeals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="specialDealCriteria" nillable="true" type="q44:SpecialDealCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialDealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetSpecialDealsResult" nillable="true" type="q45:SpecialDealSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="DartaAgentCriteria" nillable="true" type="q46:DartaAgentCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetAgentsResult" nillable="true" type="q47:DartaAgents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="paymentReviewCriteria" nillable="true" type="q48:PaymentReviewCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetPaymentReviewsResult" nillable="true" type="q49:PaymentReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetInvestmentInformationResult" nillable="true" type="q50:DartaInvestmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q51:InvestmentSummaryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestmentSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetInvestmentSummaryResult" nillable="true" type="q52:InvestmentSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="waitingPaymentCriteria" nillable="true" type="q53:WaitingPaymentCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetWaitingPaymentsResult" nillable="true" type="q54:DartaWaitingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="policyNumberList" nillable="true" type="q55:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPayRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessPayRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUncheckedTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="uncheckedTransactionCriteria" nillable="true" type="q56:UncheckedTransactionCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUncheckedTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetUncheckedTransactionsResult" nillable="true" type="q57:DartaUncheckedTransactionsSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q58:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="ReadAssignmentResult" nillable="true" type="q59:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="assignment" nillable="true" type="q60:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessAssignmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectDebitExpectedDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="directDebitCriteria" nillable="true" type="q61:DirectDebitExpectedCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectDebitExpectedDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDirectDebitExpectedDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFundSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="switch" nillable="true" type="q62:DartaSwitchFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFundSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessFundSwitchResult" nillable="true" type="q63:DartaSwitchFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNewSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q64:DartaSwitchFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNewSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessNewSwitchResult" nillable="true" type="q65:DartaSwitchFund" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRedirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="switch" nillable="true" type="q66:DartaRedirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRedirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessRedirectionResult" nillable="true" type="q67:DartaRedirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeneficiary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="beneficiary" nillable="true" type="q68:DartaBeneficiaries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeneficiaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPartialSurrender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="partialSurrender" nillable="true" type="q69:DartaPartialSurrender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPartialSurrenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessPartialSurrenderResult" nillable="true" type="q70:DartaPartialSurrender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRegularWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="item" nillable="true" type="q71:DartaRegularWithdrawal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRegularWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessRegularWithdrawalResult" nillable="true" type="q72:DartaRegularWithdrawal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="policyDetails" nillable="true" type="q73:DartaNewBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="AddProposalResult" nillable="true" type="q74:DartaNewBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="clientDetails" nillable="true" type="q75:DartaClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="contactDetails" nillable="true" type="q76:DartaContactDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContactDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="productCriteria" nillable="true" type="q77:DartaProductCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetProductsResult" nillable="true" type="q78:DartaProductList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="protectionCriteria" nillable="true" type="q79:DartaProtectionCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetProtectionResult" nillable="true" type="q80:DartaProtection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFullSurrender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="fullSurrender" nillable="true" type="q81:DartaFullSurrender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFullSurrenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessFullSurrenderResult" nillable="true" type="q82:DartaFullSurrender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCancellation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="cancellation" nillable="true" type="q83:DartaCancellation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCancellationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessCancellationResult" nillable="true" type="q84:DartaCancellation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="agentSearchCriteria" nillable="true" type="q85:DartaAgentCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetAgentListResult" nillable="true" type="q86:DartaAgents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="availableFundsCriteria" nillable="true" type="q87:DartaAvailableFundsCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableFundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetAvailableFundsResult" nillable="true" type="q88:DartaAvailableFundsSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAvailableFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="availableFundsCriteria" nillable="true" type="q89:DartaFundsCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAvailableFundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetNewAvailableFundsResult" nillable="true" type="q90:DartaAvailableFunds" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientContactDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientContactDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetClientContactDetailsResult" nillable="true" type="q91:DartaContactDetailsSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetProposalResult" nillable="true" type="q92:DartaNewBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetClientResult" nillable="true" type="q93:DartaClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTopUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="topUpDetails" nillable="true" type="q94:DartaTopUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTopUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTopUpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetTopUpResult" nillable="true" type="q95:DartaTopUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="agentDetails" nillable="true" type="q96:Agent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAgentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolicyOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="policyOwner" nillable="true" type="q97:DartaPolicyOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolicyOwnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="bankAccountUpdate" nillable="true" type="q98:DartaBankAccountUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeIndexation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="indexationChange" nillable="true" type="q99:DartaIndexation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeIndexationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstablishmentCharges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="establishmentChargeCriteria" nillable="true" type="q100:EstablishmentChargeCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstablishmentChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetEstablishmentChargesResult" nillable="true" type="q101:EstablishmentChargeSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentBaseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="paymentBaseCriteria" nillable="true" type="q102:PaymentBaseCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentBaseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetPaymentBaseSummaryResult" nillable="true" type="q103:PaymentBaseSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDescriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDescriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetProductDescriptionsResult" nillable="true" type="q104:DartaProductDescriptionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipelineDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="pipelineSearchCriteria" nillable="true" type="q105:PipelineCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipelineDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetPipelineDownloadResult" nillable="true" type="q106:DartaPipelineExtendedSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitchRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitchRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetSwitchRulesResult" nillable="true" type="q107:SwitchRuleSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartialSurrenderRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartialSurrenderRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="GetPartialSurrenderRulesResult" nillable="true" type="q108:PartialSurrenderRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFatca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q109:DartaFatca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFatcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessFatcaResult" nillable="true" type="q110:DartaFatca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianPostCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheConstant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianPostCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SQL" minOccurs="0" name="LoadItalianPostCodesResult" nillable="true" type="q111:ArrayOfItalianPostCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianProvinces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheConstant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SQL" minOccurs="0" name="LoadItalianProvincesResult" nillable="true" type="q112:ArrayOfItalianProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianTownCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cacheConstant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianTownCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SQL" minOccurs="0" name="LoadItalianTownCodesResult" nillable="true" type="q113:ArrayOfItalianTownCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAddressRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="NewAddressRelatiosnhip" nillable="true" type="q114:DartaChangeAddressRelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAddressRelationshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePolicyOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="NewPolicyOwner" nillable="true" type="q115:DartaChangePolicyOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePolicyOwnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianTownCodePairs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItalianTownCodePairsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadItalianTownCodePairsResult" nillable="true" type="q116:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAddressData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAddressDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadAddressDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCountryData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCountryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadCountryDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiscalCodeLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiscalCodeLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFiscalCodeLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyLaundering">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q117:DartaMoneyLaunderingCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyLaunderingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetMoneyLaunderingResult" nillable="true" type="q118:DartaMoneyLaundering" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyReprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="policyReprintRequest" nillable="true" type="q119:PolicyReprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyReprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PolicyReprintResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DartaDeathClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="deathClaim" nillable="true" type="q120:DartaDeathClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DartaDeathClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="DartaDeathClaimResult" nillable="true" type="q121:DartaDeathClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterPremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="PremiumAlteration" nillable="true" type="q122:DartaPremiumAlteration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterPremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="AlterPremiumResult" nillable="true" type="q123:DartaPremiumAlteration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDatvisionReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDatvisionReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="GetAvailableDatvisionReportsResult" nillable="true" type="q124:ArrayOfAvailableDatavisionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPhasedSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="DartaPhasedSwitch" nillable="true" type="q125:DartaPhasedSwitch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPhasedSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessPhasedSwitchResult" nillable="true" type="q126:DartaPhasedSwitch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDipAuthorisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="DartaDipAuthorisation" nillable="true" type="q127:DartaDipAuthorisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessDipAuthorisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessDipAuthorisationResult" nillable="true" type="q128:DartaDipAuthorisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="criteria" nillable="true" type="q129:DartaCommonReportingStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="ProcessCRSResult" nillable="true" type="q130:DartaCommonReportingStandards" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessTransformationProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" minOccurs="0" name="transformationProduct" nillable="true" type="q131:DartaTransformationProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessTransformationProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>