ProductTests/ProductTests/Service References/DartaBusinessServices/BusinessService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" />
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FatcaClientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual" />
      <xs:enumeration value="Company" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FatcaClientType" nillable="true" type="tns:FatcaClientType" />
  <xs:complexType name="DartaSwitchFund">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q1:SwitchFund">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationSignedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SourceItems" nillable="true" type="tns:ArrayOfSwitchSourceFundItem" />
          <xs:element minOccurs="0" name="SwitchType" nillable="true" type="tns:SwitchType" />
          <xs:element minOccurs="0" name="TargetItems" nillable="true" type="tns:ArrayOfSwitchFundItem" />
          <xs:element minOccurs="0" name="TransactionType" nillable="true" type="q1:ActionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaSwitchFund" nillable="true" type="tns:DartaSwitchFund" />
  <xs:complexType name="ArrayOfSwitchSourceFundItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SwitchSourceFundItem" nillable="true" type="tns:SwitchSourceFundItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSwitchSourceFundItem" nillable="true" type="tns:ArrayOfSwitchSourceFundItem" />
  <xs:complexType name="SwitchSourceFundItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SwitchFundItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="OriginalUnits" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="OriginalValue" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SwitchSourceFundItem" nillable="true" type="tns:SwitchSourceFundItem" />
  <xs:complexType name="SwitchFundItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SwitchFundItem" nillable="true" type="tns:SwitchFundItem" />
  <xs:simpleType name="SwitchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Percentage" />
      <xs:enumeration value="Amount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SwitchType" nillable="true" type="tns:SwitchType" />
  <xs:complexType name="ArrayOfSwitchFundItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SwitchFundItem" nillable="true" type="tns:SwitchFundItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSwitchFundItem" nillable="true" type="tns:ArrayOfSwitchFundItem" />
  <xs:complexType name="DartaTransactionPermissions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q2:TransactionPermissions">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutoSwitchPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="DipAuthorisationPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="DocReprintPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IndexationPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvestmentPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="NewBusinessBackdatingPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PhasedSwitchPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PremiumAlterationPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RebalancingSwitchPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RedirectionPermitted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="TransformPermitted" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaTransactionPermissions" nillable="true" type="tns:DartaTransactionPermissions" />
  <xs:complexType name="DartaGeneralInfoSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q3:SearchCriteria">
        <xs:sequence>
          <xs:element minOccurs="0" name="PolicyProposalIndicator" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProposalNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaGeneralInfoSearchCriteria" nillable="true" type="tns:DartaGeneralInfoSearchCriteria" />
  <xs:complexType name="DartaGeneralInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q4:GeneralInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssigneeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssigneeReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignmentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssignmentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AutoSwitch" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ConclusionDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CpiRateOfIncrease" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DartaGeneralInfoSearchCriteria" nillable="true" type="tns:DartaGeneralInfoSearchCriteria" />
          <xs:element minOccurs="0" name="ExternalCustomerReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Frequency" nillable="true" type="q4:PremiumFrequency" />
          <xs:element minOccurs="0" name="Indexation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferredDebitDay" nillable="true" type="xs:byte" />
          <xs:element minOccurs="0" name="ProposalSignedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SystemDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TotalEncashedOffset" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TransformationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TransformationIndicator" nillable="true" type="tns:TransformationIndicatorType" />
          <xs:element minOccurs="0" name="TransformationValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="VINCOLOPortion" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaGeneralInfo" nillable="true" type="tns:DartaGeneralInfo" />
  <xs:simpleType name="TransformationIndicatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insurance" />
      <xs:enumeration value="Investment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransformationIndicatorType" nillable="true" type="tns:TransformationIndicatorType" />
  <xs:complexType name="DartaPaymentSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q5:PaymentSummary">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstRequestedPaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NumberOfPayments" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProposalCompleteDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RidAuthorisationStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RidRejectionCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaPaymentSummary" nillable="true" type="tns:DartaPaymentSummary" />
  <xs:complexType name="DartaClientCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaClientCriteria" nillable="true" type="tns:DartaClientCriteria" />
  <xs:complexType name="DartaClientSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignmentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BeneficiaryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryLines" nillable="true" type="tns:ArrayOfBeneficiaryLine" />
      <xs:element minOccurs="0" name="BeneficiaryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfDartaClient" />
      <xs:element minOccurs="0" name="HasPolicyBeenAssigned" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBeneficiaryLocked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEqualShares" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPolicyInTrust" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfClients" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Payees" nillable="true" type="tns:ArrayOfPayee" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaClientCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaClientSummary" nillable="true" type="tns:DartaClientSummary" />
  <xs:complexType name="ArrayOfBeneficiaryLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BeneficiaryLine" nillable="true" type="tns:BeneficiaryLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeneficiaryLine" nillable="true" type="tns:ArrayOfBeneficiaryLine" />
  <xs:complexType name="BeneficiaryLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeneficiaryLine" nillable="true" type="tns:BeneficiaryLine" />
  <xs:complexType name="ArrayOfDartaClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaClient" nillable="true" type="tns:DartaClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaClient" nillable="true" type="tns:ArrayOfDartaClient" />
  <xs:complexType name="DartaClient">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q6:Client">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactDetailsList" nillable="true" type="tns:ArrayOfDartaContactDetails" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Initial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsLegalRepresentative" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pastimes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ResidenceAddressReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaClient" nillable="true" type="tns:DartaClient" />
  <xs:complexType name="ArrayOfDartaContactDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaContactDetails" nillable="true" type="tns:DartaContactDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaContactDetails" nillable="true" type="tns:ArrayOfDartaContactDetails" />
  <xs:complexType name="DartaContactDetails">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q7:ContactDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPosition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiallingCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullDisplayAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaContactDetails" nillable="true" type="tns:DartaContactDetails" />
  <xs:complexType name="ArrayOfPayee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payee" nillable="true" type="tns:Payee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayee" nillable="true" type="tns:ArrayOfPayee" />
  <xs:complexType name="Payee">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payee" nillable="true" type="tns:Payee" />
  <xs:complexType name="DartaInvestmentDetailsSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q8:SearchCriteria">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaInvestmentDetailsSearchCriteria" nillable="true" type="tns:DartaInvestmentDetailsSearchCriteria" />
  <xs:complexType name="DartaInvestmentDetails">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q9:PolicyInvestmentBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutoSwitchFlag" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Charge" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ChosenFundCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaPremium" />
          <xs:element minOccurs="0" name="PremiumChargePercent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaInvestmentDetailsSearchCriteria" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaInvestmentDetails" nillable="true" type="tns:DartaInvestmentDetails" />
  <xs:complexType name="ArrayOfDartaPremium">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaPremium" nillable="true" type="tns:DartaPremium" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaPremium" nillable="true" type="tns:ArrayOfDartaPremium" />
  <xs:complexType name="DartaPremium">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q10:PolicyPremium">
        <xs:sequence>
          <xs:element minOccurs="0" name="PremiumFundSummary" nillable="true" type="q10:ArrayOfPolicyPremiumFund" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaPremium" nillable="true" type="tns:DartaPremium" />
  <xs:complexType name="DartaBeneficiaries">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeneficaryLineCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryLines" nillable="true" type="tns:ArrayOfBeneficiaryLine" />
      <xs:element minOccurs="0" name="IsBeneficiaryLocked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEqualShares" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLetterSupressed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfPayees" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payees" nillable="true" type="tns:ArrayOfPayee" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="TransactionType" nillable="true" type="q11:ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaBeneficiaries" nillable="true" type="tns:DartaBeneficiaries" />
  <xs:complexType name="DartaContactDetailsSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaContactDetails" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaContactDetailsSummary" nillable="true" type="tns:DartaContactDetailsSummary" />
  <xs:complexType name="DartaClientPolicyCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiscalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaClientPolicyCriteria" nillable="true" type="tns:DartaClientPolicyCriteria" />
  <xs:complexType name="DartaClientPolicySummary">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="ClientType" nillable="true" type="q12:ClientType" />
      <xs:element minOccurs="0" name="ClientTypeLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaClientPolicy" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaClientPolicyCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaClientPolicySummary" nillable="true" type="tns:DartaClientPolicySummary" />
  <xs:complexType name="ArrayOfDartaClientPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaClientPolicy" nillable="true" type="tns:DartaClientPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaClientPolicy" nillable="true" type="tns:ArrayOfDartaClientPolicy" />
  <xs:complexType name="DartaClientPolicy">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q13:ClientPolicy">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgeFactor" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CorrespondenceAddressReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsBeneficiary" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLegalRepresentative" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPolicyInTrust" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="SumAtRisk" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalPremiumsPaid" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaClientPolicy" nillable="true" type="tns:DartaClientPolicy" />
  <xs:complexType name="DartaPipelineSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaPipeline" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="SearchCriteria" nillable="true" type="q14:PipelineCriteria" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPipelineSummary" nillable="true" type="tns:DartaPipelineSummary" />
  <xs:complexType name="ArrayOfDartaPipeline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaPipeline" nillable="true" type="tns:DartaPipeline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaPipeline" nillable="true" type="tns:ArrayOfDartaPipeline" />
  <xs:complexType name="DartaPipeline">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q15:Pipeline">
        <xs:sequence>
          <xs:element minOccurs="0" name="IngeniumPolicyNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaPipeline" nillable="true" type="tns:DartaPipeline" />
  <xs:complexType name="DartaAgentCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPhoneticSearch" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastReturnedRecord" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaAgentCriteria" nillable="true" type="tns:DartaAgentCriteria" />
  <xs:complexType name="DartaAgents">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaAgent" />
      <xs:element minOccurs="0" name="NextAgentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfAgents" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaAgentCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaAgents" nillable="true" type="tns:DartaAgents" />
  <xs:complexType name="ArrayOfDartaAgent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaAgent" nillable="true" type="tns:DartaAgent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaAgent" nillable="true" type="tns:ArrayOfDartaAgent" />
  <xs:complexType name="DartaAgent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q16:Agent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LevelOfOperation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SourceProductionAgentReference" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaAgent" nillable="true" type="tns:DartaAgent" />
  <xs:complexType name="DartaInvestmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvestmentDetails" nillable="true" type="tns:DartaInvestmentDetails" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="InvestmentSummary" nillable="true" type="q17:InvestmentSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaInvestmentInfo" nillable="true" type="tns:DartaInvestmentInfo" />
  <xs:complexType name="DartaWaitingPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaProposal" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="SearchCriteria" nillable="true" type="q18:WaitingPaymentCriteria" />
      <xs:element minOccurs="0" name="TotalPremiumAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaWaitingPayment" nillable="true" type="tns:DartaWaitingPayment" />
  <xs:complexType name="ArrayOfDartaProposal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaProposal" nillable="true" type="tns:DartaProposal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaProposal" nillable="true" type="tns:ArrayOfDartaProposal" />
  <xs:complexType name="DartaProposal">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q19:Proposal">
        <xs:sequence>
          <xs:element minOccurs="0" name="IngeniumPolicyNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaProposal" nillable="true" type="tns:DartaProposal" />
  <xs:complexType name="DartaUncheckedTransactionsSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaUncheckedTransaction" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="SearchCriteria" nillable="true" type="q20:UncheckedTransactionCriteria" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaUncheckedTransactionsSummary" nillable="true" type="tns:DartaUncheckedTransactionsSummary" />
  <xs:complexType name="ArrayOfDartaUncheckedTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaUncheckedTransaction" nillable="true" type="tns:DartaUncheckedTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaUncheckedTransaction" nillable="true" type="tns:ArrayOfDartaUncheckedTransaction" />
  <xs:complexType name="DartaUncheckedTransaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q21:UncheckedTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="IngeniumPolicyNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaUncheckedTransaction" nillable="true" type="tns:DartaUncheckedTransaction" />
  <xs:complexType name="DartaRedirection">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Items" nillable="true" type="q22:ArrayOfSinglePremiumFund" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwitchRequired" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaRedirection" nillable="true" type="tns:DartaRedirection" />
  <xs:complexType name="DartaPartialSurrender">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q23:PartialSurrender">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationReceivedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ApplicationSignedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExitTaxExempt" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RefundType" nillable="true" type="q23:RefundType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaPartialSurrender" nillable="true" type="tns:DartaPartialSurrender" />
  <xs:complexType name="DartaRegularWithdrawal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateLetterReceived" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExitTaxExempt" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstWithdrawalDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Frequency" nillable="true" type="q24:PremiumFrequency" />
      <xs:element minOccurs="0" name="FundList" nillable="true" type="tns:ArrayOfPremiumFund" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="PaymentMethod" nillable="true" type="q25:PaymentType" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:int" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="RefundType" nillable="true" type="q26:RefundType" />
      <xs:element minOccurs="0" name="SignatureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StrikeDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:RegularWithdrawalTransactionType" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="WithdrawalBasis" nillable="true" type="q27:WithdrawalBasis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaRegularWithdrawal" nillable="true" type="tns:DartaRegularWithdrawal" />
  <xs:complexType name="ArrayOfPremiumFund">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PremiumFund" nillable="true" type="tns:PremiumFund" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPremiumFund" nillable="true" type="tns:ArrayOfPremiumFund" />
  <xs:complexType name="PremiumFund">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q28:SinglePremiumFund">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PremiumFund" nillable="true" type="tns:PremiumFund" />
  <xs:simpleType name="RegularWithdrawalTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add" />
      <xs:enumeration value="Revise" />
      <xs:enumeration value="Update" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegularWithdrawalTransactionType" nillable="true" type="tns:RegularWithdrawalTransactionType" />
  <xs:complexType name="DartaNewBusiness">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q29:NewBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentList" nillable="true" type="q29:ArrayOfAgent" />
          <xs:element minOccurs="0" name="AnnuityAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AutoSwitch" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="BankDetails" nillable="true" type="q29:Bank" />
          <xs:element minOccurs="0" name="CommissionSacrificeRegularPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CommissionSacrificeSinglePremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="LifeProtectionList" nillable="true" type="tns:ArrayOfDartaLifeProtection" />
          <xs:element minOccurs="0" name="LivesAssuredList" nillable="true" type="tns:ArrayOfDartaLifeAssured" />
          <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PhasedSwitch" nillable="true" type="tns:PhasedSwitch" />
          <xs:element minOccurs="0" name="ProposalNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegularWithdrawal" nillable="true" type="tns:DartaRegularWithdrawal" />
          <xs:element minOccurs="0" name="StrikeDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SumAssured" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SupervisorIndicator" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="UseNonStandardCommissionRegularPremium" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="UseNonStandardCommissionSinglePremium" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="WealthDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WealthIndicator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaNewBusiness" nillable="true" type="tns:DartaNewBusiness" />
  <xs:complexType name="ArrayOfDartaLifeProtection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaLifeProtection" nillable="true" type="tns:DartaLifeProtection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaLifeProtection" nillable="true" type="tns:ArrayOfDartaLifeProtection" />
  <xs:complexType name="DartaLifeProtection">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaLifeProtection" nillable="true" type="tns:DartaLifeProtection" />
  <xs:complexType name="ArrayOfDartaLifeAssured">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaLifeAssured" nillable="true" type="tns:DartaLifeAssured" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaLifeAssured" nillable="true" type="tns:ArrayOfDartaLifeAssured" />
  <xs:complexType name="DartaLifeAssured">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q30:LifeAssured">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasAdditionalCover" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaLifeAssured" nillable="true" type="tns:DartaLifeAssured" />
  <xs:complexType name="PhasedSwitch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Frequency" nillable="true" type="q31:PremiumFrequency" />
      <xs:element minOccurs="0" name="FundList" nillable="true" type="tns:ArrayOfPremiumFund" />
      <xs:element minOccurs="0" name="OverrideCharge" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceFund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwitchType" nillable="true" type="tns:SwitchType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhasedSwitch" nillable="true" type="tns:PhasedSwitch" />
  <xs:complexType name="DartaProductCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastReturnedRecord" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlanCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaProductCriteria" nillable="true" type="tns:DartaProductCriteria" />
  <xs:complexType name="DartaProductList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaProduct" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaProductCriteria" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaProductList" nillable="true" type="tns:DartaProductList" />
  <xs:complexType name="ArrayOfDartaProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaProduct" nillable="true" type="tns:DartaProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaProduct" nillable="true" type="tns:ArrayOfDartaProduct" />
  <xs:complexType name="DartaProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q32:Product">
        <xs:sequence>
          <xs:element minOccurs="0" name="AreAdditionalRiskBenefitsAllowed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="AreBeneficiariesRequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="BeneficiaryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BookingEndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="BookingStartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DisplayDistributionMethod" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IfSepaApplies" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAdditionalCoverAllowed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFundSelectionRequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLiableForTax" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRegularWithdrawal" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LifetimeAnnuityEntered" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoyaltyBonusExistsForRegular" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoyaltyBonusExistsForSingle" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaximumAdHocWithdrawalFunds" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumBeneficiaries" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumClientsNewBusiness" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumLivesAssured" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumRegularWithdrawalFunds" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MultipleFundsAllowed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="NewBusinessPremiumLimit" nillable="true" type="tns:DartaPremiumLimit" />
          <xs:element minOccurs="0" name="NonStandardCommissionAllowed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PhasedSwitchMaximumFunds" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PhasedSwitchSetupCharge" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PolicyNumberCharacter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PolicyNumberType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductAlterationType" nillable="true" type="tns:PremiumAlterationType" />
          <xs:element minOccurs="0" name="ShowPaymentOption" nillable="true" type="tns:ShowPaymentOption" />
          <xs:element minOccurs="0" name="SinglePremiumsAllowed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="SourceOfWealthCheck" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SumAssuredEntered" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="TopUpPremiumLimit" nillable="true" type="tns:DartaPremiumLimit" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaProduct" nillable="true" type="tns:DartaProduct" />
  <xs:complexType name="DartaPremiumLimit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualMaximum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AnnualMinimum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HalfYearlyMaximum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HalfYearlyMinimum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyMaximum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyMinimum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterlyMaximum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuarterlyMinimum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SingleMaximum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SingleMinimum" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPremiumLimit" nillable="true" type="tns:DartaPremiumLimit" />
  <xs:simpleType name="PremiumAlterationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PremiumIncrease" />
      <xs:enumeration value="FrequencyChange" />
      <xs:enumeration value="NoPremiumAlteration" />
      <xs:enumeration value="PremiumAlterationOnly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PremiumAlterationType" nillable="true" type="tns:PremiumAlterationType" />
  <xs:simpleType name="ShowPaymentOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Single" />
      <xs:enumeration value="Regular" />
      <xs:enumeration value="SingleAndRegular" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShowPaymentOption" nillable="true" type="tns:ShowPaymentOption" />
  <xs:complexType name="DartaProtectionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaProtectionCriteria" nillable="true" type="tns:DartaProtectionCriteria" />
  <xs:complexType name="DartaProtection">
    <xs:sequence>
      <xs:element minOccurs="0" name="DualLife2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JointLifeDeath1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JointLifeDeath2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingleDualLife1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaProtection" nillable="true" type="tns:DartaProtection" />
  <xs:complexType name="DartaFullSurrender">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsDueToDeath" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExitTaxExempt" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPledge" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignatureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StrikeDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="SurrenderType" nillable="true" type="q33:SurrenderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaFullSurrender" nillable="true" type="tns:DartaFullSurrender" />
  <xs:complexType name="DartaCancellation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q34:Cancellation">
        <xs:sequence>
          <xs:element minOccurs="0" name="CancellationType" nillable="true" type="tns:DartaCancellationType" />
          <xs:element minOccurs="0" name="DartaReceivedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsTaxExempt" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PolicyOwnerSentDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaCancellation" nillable="true" type="tns:DartaCancellation" />
  <xs:simpleType name="DartaCancellationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RejectedProposal" />
      <xs:enumeration value="Cancellation" />
      <xs:enumeration value="CoolOff" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DartaCancellationType" nillable="true" type="tns:DartaCancellationType" />
  <xs:complexType name="DartaAvailableFundsCriteria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q35:AvailableFundsCriteria">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalledFrom" nillable="true" type="tns:AvailableFundsTransaction" />
          <xs:element minOccurs="0" name="IfCLPKFundsRequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaAvailableFundsCriteria" nillable="true" type="tns:DartaAvailableFundsCriteria" />
  <xs:simpleType name="AvailableFundsTransaction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RegularWithdrawal" />
      <xs:enumeration value="PhasedSwitch" />
      <xs:enumeration value="Topup" />
      <xs:enumeration value="NewBusiness" />
      <xs:enumeration value="FundSwitch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvailableFundsTransaction" nillable="true" type="tns:AvailableFundsTransaction" />
  <xs:complexType name="DartaAvailableFundsSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAutoSwFund" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaAvailableFund" />
      <xs:element minOccurs="0" name="MaximumFundsAllowed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumFundsPermitted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRegularFunds" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfFundsAvailable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaAvailableFundsCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaAvailableFundsSummary" nillable="true" type="tns:DartaAvailableFundsSummary" />
  <xs:complexType name="ArrayOfDartaAvailableFund">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaAvailableFund" nillable="true" type="tns:DartaAvailableFund" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaAvailableFund" nillable="true" type="tns:ArrayOfDartaAvailableFund" />
  <xs:complexType name="DartaAvailableFund">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q36:AvailableFund">
        <xs:sequence>
          <xs:element minOccurs="0" name="WhenAppliesToRegularPremiums" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WhenAppliesToSinglePremiums" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaAvailableFund" nillable="true" type="tns:DartaAvailableFund" />
  <xs:complexType name="DartaFundsCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastReturnedRecord" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PlanCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaFundsCriteria" nillable="true" type="tns:DartaFundsCriteria" />
  <xs:complexType name="DartaAvailableFunds">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaAvailableFundsItem" />
      <xs:element minOccurs="0" name="LastReturnedRecord" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfFundsSent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SearchCriteria" nillable="true" type="tns:DartaFundsCriteria" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaAvailableFunds" nillable="true" type="tns:DartaAvailableFunds" />
  <xs:complexType name="ArrayOfDartaAvailableFundsItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaAvailableFundsItem" nillable="true" type="tns:DartaAvailableFundsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaAvailableFundsItem" nillable="true" type="tns:ArrayOfDartaAvailableFundsItem" />
  <xs:complexType name="DartaAvailableFundsItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaAvailableFundsItem" nillable="true" type="tns:DartaAvailableFundsItem" />
  <xs:complexType name="DartaTopUp">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q37:TopUp">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommissionSacrificeRegularPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CommissionSacrificeSinglePremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DatePaymentReceived" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateProposalComplete" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InstalmentDuration" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="q37:PaymentType" />
          <xs:element minOccurs="0" name="RegularPremiumElementNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RiskCommencementDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UseNonStandardCommissionRegularPremium" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="UseNonStandardCommissionSinglePremium" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WealthDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WealthIndicator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaTopUp" nillable="true" type="tns:DartaTopUp" />
  <xs:complexType name="DartaPolicyOwner">
    <xs:sequence>
      <xs:element minOccurs="0" name="DartaPolicyUpdateOwnerList" nillable="true" type="tns:ArrayOfDartaPolicyUpdateOwner" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPolicyOwner" nillable="true" type="tns:DartaPolicyOwner" />
  <xs:complexType name="ArrayOfDartaPolicyUpdateOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaPolicyUpdateOwner" nillable="true" type="tns:DartaPolicyUpdateOwner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaPolicyUpdateOwner" nillable="true" type="tns:ArrayOfDartaPolicyUpdateOwner" />
  <xs:complexType name="DartaPolicyUpdateOwner">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsLeadPolicyOwner" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewCorrespondenceAddressReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewResidentialAddressReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPolicyUpdateOwner" nillable="true" type="tns:DartaPolicyUpdateOwner" />
  <xs:complexType name="DartaBankAccountUpdate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q38:BankAccountUpdate">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReasonForChange" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaBankAccountUpdate" nillable="true" type="tns:DartaBankAccountUpdate" />
  <xs:complexType name="DartaIndexation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:DartaIndexationTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaIndexation" nillable="true" type="tns:DartaIndexation" />
  <xs:simpleType name="DartaIndexationTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Remove" />
      <xs:enumeration value="Increase" />
      <xs:enumeration value="Decrease" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DartaIndexationTypes" nillable="true" type="tns:DartaIndexationTypes" />
  <xs:complexType name="DartaProductDescriptionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaProductDescription" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaProductDescriptionList" nillable="true" type="tns:DartaProductDescriptionList" />
  <xs:complexType name="ArrayOfDartaProductDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaProductDescription" nillable="true" type="tns:DartaProductDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaProductDescription" nillable="true" type="tns:ArrayOfDartaProductDescription" />
  <xs:complexType name="DartaProductDescription">
    <xs:sequence>
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Availability" nillable="true" type="q39:ProductAvailabilityType" />
      <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackerSeriesID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaProductDescription" nillable="true" type="tns:DartaProductDescription" />
  <xs:complexType name="DartaPipelineExtendedSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaPipelineExtended" />
      <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="SearchCriteria" nillable="true" type="q40:PipelineCriteria" />
      <xs:element minOccurs="0" name="TotalRecordCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPipelineExtendedSummary" nillable="true" type="tns:DartaPipelineExtendedSummary" />
  <xs:complexType name="ArrayOfDartaPipelineExtended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaPipelineExtended" nillable="true" type="tns:DartaPipelineExtended" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaPipelineExtended" nillable="true" type="tns:ArrayOfDartaPipelineExtended" />
  <xs:complexType name="DartaPipelineExtended">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlternateIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalAgentReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IngeniumPolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeadPolicyOwnerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PendingRequirementList" nillable="true" type="q41:ArrayOfstring" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProposalNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPipelineExtended" nillable="true" type="tns:DartaPipelineExtended" />
  <xs:complexType name="DartaFatca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientType" nillable="true" type="tns:FatcaClientType" />
      <xs:element minOccurs="0" name="CounterProvingFlag" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryOfIncorporation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeclarationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnquiryType" nillable="true" type="tns:FatcaEnquiryType" />
      <xs:element minOccurs="0" name="FatcaClassification" nillable="true" type="tns:FatcaClassification" />
      <xs:element minOccurs="0" name="FatcaStatus" nillable="true" type="tns:FatcaStatus" />
      <xs:element minOccurs="0" name="GiinNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportingStatus" nillable="true" type="tns:FatcaReportingStatus" />
      <xs:element minOccurs="0" name="ReviewDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewType" nillable="true" type="tns:FatcaReviewType" />
      <xs:element minOccurs="0" name="ScDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScOtherInformation" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SelfCertification" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TinNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxntType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USControllingPersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USControllingPersonTin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsCitizen" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaFatca" nillable="true" type="tns:DartaFatca" />
  <xs:simpleType name="FatcaEnquiryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NewBusinessReviewUpdate" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Read" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FatcaEnquiryType" nillable="true" type="tns:FatcaEnquiryType" />
  <xs:simpleType name="FatcaClassification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ToBeClassified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ParticipatingForeignFinancialInstitution">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisteredDeemedCompliant">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CertifiedDeemedCompliant">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonParticipatingForeignFinancialInstitution">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExemptBeneficialOwner">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InCaricoFatcaOfficer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SpecifiedUSperson">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ActiveNFFE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PASSIVENFFEWithoutControllingPerson">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PASSIVENFFEWithControllingPerson">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FatcaClassification" nillable="true" type="tns:FatcaClassification" />
  <xs:simpleType name="FatcaStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Inactive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FatcaStatus" nillable="true" type="tns:FatcaStatus" />
  <xs:simpleType name="FatcaReportingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ToBeDefined">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonUSPerson">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonUSPersonWithUSIndicia">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="USUndocumentedNoReporting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SpecifiedUSPersonReport">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FatcaReportingStatus" nillable="true" type="tns:FatcaReportingStatus" />
  <xs:simpleType name="FatcaReviewType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InitialReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AdHocReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RevisionReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCustomerReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaperReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FatcaReviewType" nillable="true" type="tns:FatcaReviewType" />
  <xs:complexType name="DartaChangeAddressRelationship">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q42="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q42:ChangeAddressRelationship">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressRelationship" nillable="true" type="tns:DartaPolicyAddressRelationship" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaChangeAddressRelationship" nillable="true" type="tns:DartaChangeAddressRelationship" />
  <xs:simpleType name="DartaPolicyAddressRelationship">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Correspondence" />
      <xs:enumeration value="Residence" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DartaPolicyAddressRelationship" nillable="true" type="tns:DartaPolicyAddressRelationship" />
  <xs:complexType name="DartaChangePolicyOwner">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" base="q43:ChangePolicyOwner">
        <xs:sequence>
          <xs:element minOccurs="0" name="CorrespondanceLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPolicyInTrust" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ResidentialLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondClientReference" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DartaChangePolicyOwner" nillable="true" type="tns:DartaChangePolicyOwner" />
  <xs:complexType name="DartaMoneyLaunderingCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaMoneyLaunderingCriteria" nillable="true" type="tns:DartaMoneyLaunderingCriteria" />
  <xs:complexType name="DartaMoneyLaundering">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentAuthority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentSector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoneyLaundering98" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonResidenceDeclaration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaMoneyLaundering" nillable="true" type="tns:DartaMoneyLaundering" />
  <xs:complexType name="PolicyReprint">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentReprintType" nillable="true" type="tns:DartaDocumentReprintType" />
      <xs:element minOccurs="0" name="PdfRequested" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReprintRequestedBy" nillable="true" type="tns:DartaReprintRequestedBy" />
      <xs:element minOccurs="0" name="ReprintWithGenericLetter" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyReprint" nillable="true" type="tns:PolicyReprint" />
  <xs:simpleType name="DartaDocumentReprintType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AnnualStatement" />
      <xs:enumeration value="PolicyDocument" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DartaDocumentReprintType" nillable="true" type="tns:DartaDocumentReprintType" />
  <xs:simpleType name="DartaReprintRequestedBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Darta" />
      <xs:enumeration value="Client" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DartaReprintRequestedBy" nillable="true" type="tns:DartaReprintRequestedBy" />
  <xs:complexType name="DartaDeathClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="DartaDeathBeneficiaries" nillable="true" type="tns:ArrayOfDartaDeathBeneficiary" />
      <xs:element minOccurs="0" name="DateOfDeath" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReceived" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeathSurrender" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsClaimFinalised" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEqualShares" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfBeneficiaries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignatureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StrikeDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="TransactionType" nillable="true" type="q44:ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaDeathClaim" nillable="true" type="tns:DartaDeathClaim" />
  <xs:complexType name="ArrayOfDartaDeathBeneficiary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaDeathBeneficiary" nillable="true" type="tns:DartaDeathBeneficiary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaDeathBeneficiary" nillable="true" type="tns:ArrayOfDartaDeathBeneficiary" />
  <xs:complexType name="DartaDeathBeneficiary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBANCIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBANCheck" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBANCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsManualPayment" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SortCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaDeathBeneficiary" nillable="true" type="tns:DartaDeathBeneficiary" />
  <xs:complexType name="DartaPremiumAlteration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Request" nillable="true" type="tns:DartaPremiumAlterationRequest" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="tns:DartaPremiumAlterationResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPremiumAlteration" nillable="true" type="tns:DartaPremiumAlteration" />
  <xs:complexType name="DartaPremiumAlterationRequest">
    <xs:sequence>
      <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Action" nillable="true" type="q45:PremiumAlterationAction" />
      <xs:element minOccurs="0" name="IsFrequencyChange" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPremiumDecrease" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPremiumIncrease" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="NewFrequency" nillable="true" type="q46:PremiumFrequency" />
      <xs:element minOccurs="0" name="NewTotalPremiumInstalment" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPremiumAlterationRequest" nillable="true" type="tns:DartaPremiumAlterationRequest" />
  <xs:complexType name="DartaPremiumAlterationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatedGrossInstalment" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalculatedGrossPremiumBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalculatedNettInstalment" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalculatedNettPremiumBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalculatedNextDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveDate2" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Frequency" nillable="true" type="q47:PremiumFrequency" />
      <xs:element minOccurs="0" name="LatestRiskCommencementDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MandateLimit" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="MandateType" nillable="true" type="q48:MandateType" />
      <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Method" nillable="true" type="q49:PaymentType" />
      <xs:element minOccurs="0" name="NumberOfBenefits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumDatePaidTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PremiumDebit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PremiumDueDatePRM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RenewalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalPremiumInstalment" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPremiumAlterationResponse" nillable="true" type="tns:DartaPremiumAlterationResponse" />
  <xs:complexType name="ArrayOfAvailableDatavisionReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableDatavisionReport" nillable="true" type="tns:AvailableDatavisionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableDatavisionReport" nillable="true" type="tns:ArrayOfAvailableDatavisionReport" />
  <xs:complexType name="AvailableDatavisionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableDatavisionReport" nillable="true" type="tns:AvailableDatavisionReport" />
  <xs:complexType name="DartaPhasedSwitch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Charge" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="Frequency" nillable="true" type="q50:PremiumFrequency" />
      <xs:element minOccurs="0" name="IsChargeOverridden" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NextSwitchDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignatureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceFund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwitchType" nillable="true" type="tns:SwitchType" />
      <xs:element minOccurs="0" name="TargetItems" nillable="true" type="tns:ArrayOfSwitchFundItem" />
      <xs:element minOccurs="0" name="TransactionSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:PhasedSwitchTransactionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaPhasedSwitch" nillable="true" type="tns:DartaPhasedSwitch" />
  <xs:simpleType name="PhasedSwitchTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="Enquiry" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PhasedSwitchTransactionType" nillable="true" type="tns:PhasedSwitchTransactionType" />
  <xs:complexType name="DartaDipAuthorisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="tns:DipAuthorisationActionType" />
      <xs:element minOccurs="0" name="FurtherEntries" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDartaDipAuthorisationPolicy" />
      <xs:element minOccurs="0" name="NumberOfPolicies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlyAllianz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequiredPriceDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaDipAuthorisation" nillable="true" type="tns:DartaDipAuthorisation" />
  <xs:simpleType name="DipAuthorisationActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Read" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DipAuthorisationActionType" nillable="true" type="tns:DipAuthorisationActionType" />
  <xs:complexType name="ArrayOfDartaDipAuthorisationPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DartaDipAuthorisationPolicy" nillable="true" type="tns:DartaDipAuthorisationPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDartaDipAuthorisationPolicy" nillable="true" type="tns:ArrayOfDartaDipAuthorisationPolicy" />
  <xs:complexType name="DartaDipAuthorisationPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authorised" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DipNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disinvested" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" minOccurs="0" name="SurrenderType" nillable="true" type="q51:SurrenderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaDipAuthorisationPolicy" nillable="true" type="tns:DartaDipAuthorisationPolicy" />
  <xs:complexType name="DartaCommonReportingStandards">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classification" nillable="true" type="tns:CRSClassification" />
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CounterProvingFlag" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeclarationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnquiryType" nillable="true" type="tns:CRSEnquiryType" />
      <xs:element minOccurs="0" name="ReportingStatus" nillable="true" type="tns:CRSReportingStatus" />
      <xs:element minOccurs="0" name="ReviewDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewType" nillable="true" type="tns:CRSReviewType" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:CRSStatus" />
      <xs:element minOccurs="0" name="TaxResidencyList" nillable="true" type="tns:ArrayOfTaxResidency" />
      <xs:element minOccurs="0" name="TxntType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaCommonReportingStandards" nillable="true" type="tns:DartaCommonReportingStandards" />
  <xs:simpleType name="CRSClassification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ClientIndividual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ToBeClassified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ParticipatingForeignFinancialInstitution">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisteredDeemedCompliant">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CertifiedDeemedCompliant">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonParticipatingForeignFinancialInstitution">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExemptBeneficialOwner">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ActiveNFFE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PASSIVENFFEWithoutControllingPerson">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PASSIVENFFEWithControllingPerson">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRSClassification" nillable="true" type="tns:CRSClassification" />
  <xs:simpleType name="CRSEnquiryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NewBusinessReviewUpdate" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Read" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRSEnquiryType" nillable="true" type="tns:CRSEnquiryType" />
  <xs:simpleType name="CRSReportingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ToBeClassified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonResidentWithIndicia">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonResidentUndocumented">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SpecifiedNonResident">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRSReportingStatus" nillable="true" type="tns:CRSReportingStatus" />
  <xs:simpleType name="CRSReviewType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InitialReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AdHocReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RevisionReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCustomerReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaperReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRSReviewType" nillable="true" type="tns:CRSReviewType" />
  <xs:simpleType name="CRSStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Inactive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRSStatus" nillable="true" type="tns:CRSStatus" />
  <xs:complexType name="ArrayOfTaxResidency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxResidency" nillable="true" type="tns:TaxResidency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxResidency" nillable="true" type="tns:ArrayOfTaxResidency" />
  <xs:complexType name="TaxResidency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxResidency" nillable="true" type="tns:TaxResidency" />
  <xs:complexType name="DartaTransformationProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransformationDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DartaTransformationProduct" nillable="true" type="tns:DartaTransformationProduct" />
</xs:schema>