ProductTests/ProductTests/Service References/DartaBusinessServices/BusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Common.WebServices.Business.Types" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Types" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ipsi.Darta.WebServices.Business.Ipsi.Darta.WebServices.Business" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SQL" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://serv8563/DartaBusinessServices/BusinessService.svc?xsd=xsd9" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBusinessService_GetCountryDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryDictionary" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCountryDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCountryDictionaryByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryDictionaryByKey" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCountryDictionaryByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryDictionaryByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCommonISOCountryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonISOCountryList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCommonISOCountryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommonISOCountryListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAllCountryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountryList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAllCountryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountryListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClassificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClassificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAllClassificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassificationList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAllClassificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassificationListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetReviewTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewTypeList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetReviewTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetReportingStatusList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportingStatusList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetReportingStatusList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportingStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCRSClassificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCRSClassificationList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCRSClassificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCRSClassificationListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCRSReviewTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCRSReviewTypeList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCRSReviewTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCRSReviewTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCRSReportingStatusList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCRSReportingStatusList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCRSReportingStatusList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCRSReportingStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessRebalancingFundSwitch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRebalancingFundSwitch" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessRebalancingFundSwitch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRebalancingFundSwitchResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTransactionPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionPermissions" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTransactionPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetGeneralPolicyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralPolicyInformation" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetGeneralPolicyInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralPolicyInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetBenefitSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBenefitSummary" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetBenefitSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBenefitSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPaymentSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentSummary" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPaymentSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPolicyClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyClients" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPolicyClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetMemos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemos" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetMemos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemosResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetInvestmentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentDetails" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetInvestmentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCommissionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionDetails" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetCommissionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommissionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetBeneficiaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeneficiaries" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetBeneficiaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeneficiariesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetBankDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankDetails" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetBankDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetContactDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDetails" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetContactDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgent" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClientPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientPolicies" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClientPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetRequirements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequirements" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetRequirements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequirementsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPipeline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPipeline" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPipeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPipelineResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetSpecialDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialDeals" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetSpecialDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAgents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgents" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAgents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPaymentReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentReviews" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPaymentReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetInvestmentInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentInformation" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetInvestmentInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetInvestmentSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentSummary" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetInvestmentSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetWaitingPayments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitingPayments" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetWaitingPayments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitingPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessPayRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessPayRequest" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessPayRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessPayRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetUncheckedTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUncheckedTransactions" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetUncheckedTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUncheckedTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ReadAssignment_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAssignment" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ReadAssignment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessAssignment_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessAssignment" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessAssignment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetDirectDebitExpectedDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectDebitExpectedDate" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetDirectDebitExpectedDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectDebitExpectedDateResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetSystemDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDate" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetSystemDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDateResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessFundSwitch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFundSwitch" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessFundSwitch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFundSwitchResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessNewSwitch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNewSwitch" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessNewSwitch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessNewSwitchResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessRedirection_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRedirection" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessRedirection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRedirectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_UpdateBeneficiary_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBeneficiary" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_UpdateBeneficiary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBeneficiaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessPartialSurrender_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessPartialSurrender" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessPartialSurrender_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessPartialSurrenderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessRegularWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRegularWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessRegularWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRegularWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddProposal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProposal" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddProposal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProposalResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddContactDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContactDetails" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddContactDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProtection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProtection" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProtection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProtectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessFullSurrender_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFullSurrender" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessFullSurrender_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFullSurrenderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessCancellation_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCancellation" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessCancellation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAgentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentList" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAgentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentListResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAvailableFunds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFunds" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAvailableFunds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFundsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetNewAvailableFunds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAvailableFunds" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetNewAvailableFunds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewAvailableFundsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClientContactDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientContactDetails" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClientContactDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProposal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProposal" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProposal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProposalResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddTopUp_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTopUp" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddTopUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTopUpResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTopUp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopUp" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetTopUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopUpResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAgent" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_UpdatePolicyOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicyOwner" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_UpdatePolicyOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicyOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_UpdateBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankAccount" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_UpdateBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ChangeIndexation_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeIndexation" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ChangeIndexation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeIndexationResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetEstablishmentCharges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstablishmentCharges" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetEstablishmentCharges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstablishmentChargesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPaymentBaseSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentBaseSummary" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPaymentBaseSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentBaseSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProductDescriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDescriptions" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetProductDescriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPipelineDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPipelineDownload" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPipelineDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPipelineDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetSwitchRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSwitchRules" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetSwitchRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSwitchRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPartialSurrenderRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartialSurrenderRules" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetPartialSurrenderRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartialSurrenderRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessFatca_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFatca" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessFatca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessFatcaResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianPostCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianPostCodes" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianPostCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianPostCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianProvinces" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianTownCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianTownCodes" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianTownCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianTownCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ChangeAddressRelationship_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAddressRelationship" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ChangeAddressRelationship_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAddressRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ChangePolicyOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePolicyOwner" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ChangePolicyOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePolicyOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianTownCodePairs_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianTownCodePairs" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadItalianTownCodePairs_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadItalianTownCodePairsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadAddressData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAddressData" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadAddressData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAddressDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadCountryData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCountryData" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_LoadCountryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCountryDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetFiscalCodeLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiscalCodeLocation" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetFiscalCodeLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiscalCodeLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetMoneyLaundering_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyLaundering" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetMoneyLaundering_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoneyLaunderingResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_PolicyReprint_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyReprint" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_PolicyReprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyReprintResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_DartaDeathClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:DartaDeathClaim" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_DartaDeathClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:DartaDeathClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AlterPremium_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterPremium" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AlterPremium_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterPremiumResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAvailableDatvisionReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDatvisionReports" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GetAvailableDatvisionReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDatvisionReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessPhasedSwitch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessPhasedSwitch" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessPhasedSwitch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessPhasedSwitchResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessDipAuthorisation_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDipAuthorisation" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessDipAuthorisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDipAuthorisationResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessCRS_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCRS" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessCRS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCRSResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessTransformationProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessTransformationProduct" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_ProcessTransformationProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessTransformationProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IBusinessService">
    <wsdl:operation name="GetCountryDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonBusinessService/GetCountryDictionary" message="tns:IBusinessService_GetCountryDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonBusinessService/GetCountryDictionaryResponse" message="tns:IBusinessService_GetCountryDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryDictionaryByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonBusinessService/GetCountryDictionaryByKey" message="tns:IBusinessService_GetCountryDictionaryByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonBusinessService/GetCountryDictionaryByKeyResponse" message="tns:IBusinessService_GetCountryDictionaryByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonISOCountryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonBusinessService/GetCommonISOCountryList" message="tns:IBusinessService_GetCommonISOCountryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonBusinessService/GetCommonISOCountryListResponse" message="tns:IBusinessService_GetCommonISOCountryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCountryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetAllCountryList" message="tns:IBusinessService_GetAllCountryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetAllCountryListResponse" message="tns:IBusinessService_GetAllCountryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassificationList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetClassificationList" message="tns:IBusinessService_GetClassificationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetClassificationListResponse" message="tns:IBusinessService_GetClassificationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClassificationList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetAllClassificationList" message="tns:IBusinessService_GetAllClassificationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetAllClassificationListResponse" message="tns:IBusinessService_GetAllClassificationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetReviewTypeList" message="tns:IBusinessService_GetReviewTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetReviewTypeListResponse" message="tns:IBusinessService_GetReviewTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportingStatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetReportingStatusList" message="tns:IBusinessService_GetReportingStatusList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetReportingStatusListResponse" message="tns:IBusinessService_GetReportingStatusList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCRSClassificationList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetCRSClassificationList" message="tns:IBusinessService_GetCRSClassificationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetCRSClassificationListResponse" message="tns:IBusinessService_GetCRSClassificationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCRSReviewTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetCRSReviewTypeList" message="tns:IBusinessService_GetCRSReviewTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetCRSReviewTypeListResponse" message="tns:IBusinessService_GetCRSReviewTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCRSReportingStatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlQueries/GetCRSReportingStatusList" message="tns:IBusinessService_GetCRSReportingStatusList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlQueries/GetCRSReportingStatusListResponse" message="tns:IBusinessService_GetCRSReportingStatusList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRebalancingFundSwitch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessRebalancingFundSwitch" message="tns:IBusinessService_ProcessRebalancingFundSwitch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessRebalancingFundSwitchResponse" message="tns:IBusinessService_ProcessRebalancingFundSwitch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionPermissions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetTransactionPermissions" message="tns:IBusinessService_GetTransactionPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetTransactionPermissionsResponse" message="tns:IBusinessService_GetTransactionPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ClearCache" message="tns:IBusinessService_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ClearCacheResponse" message="tns:IBusinessService_ClearCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralPolicyInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetGeneralPolicyInformation" message="tns:IBusinessService_GetGeneralPolicyInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetGeneralPolicyInformationResponse" message="tns:IBusinessService_GetGeneralPolicyInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBenefitSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetBenefitSummary" message="tns:IBusinessService_GetBenefitSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetBenefitSummaryResponse" message="tns:IBusinessService_GetBenefitSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPaymentSummary" message="tns:IBusinessService_GetPaymentSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPaymentSummaryResponse" message="tns:IBusinessService_GetPaymentSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPolicyClients" message="tns:IBusinessService_GetPolicyClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPolicyClientsResponse" message="tns:IBusinessService_GetPolicyClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetMemos" message="tns:IBusinessService_GetMemos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetMemosResponse" message="tns:IBusinessService_GetMemos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetInvestmentDetails" message="tns:IBusinessService_GetInvestmentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetInvestmentDetailsResponse" message="tns:IBusinessService_GetInvestmentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommissionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetCommissionDetails" message="tns:IBusinessService_GetCommissionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetCommissionDetailsResponse" message="tns:IBusinessService_GetCommissionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeneficiaries">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetBeneficiaries" message="tns:IBusinessService_GetBeneficiaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetBeneficiariesResponse" message="tns:IBusinessService_GetBeneficiaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetBankDetails" message="tns:IBusinessService_GetBankDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetBankDetailsResponse" message="tns:IBusinessService_GetBankDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetContactDetails" message="tns:IBusinessService_GetContactDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetContactDetailsResponse" message="tns:IBusinessService_GetContactDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetClients" message="tns:IBusinessService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetClientsResponse" message="tns:IBusinessService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetAgent" message="tns:IBusinessService_GetAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetAgentResponse" message="tns:IBusinessService_GetAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetTransactions" message="tns:IBusinessService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetTransactionsResponse" message="tns:IBusinessService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetClientPolicies" message="tns:IBusinessService_GetClientPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetClientPoliciesResponse" message="tns:IBusinessService_GetClientPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirements">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetRequirements" message="tns:IBusinessService_GetRequirements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetRequirementsResponse" message="tns:IBusinessService_GetRequirements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPipeline">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPipeline" message="tns:IBusinessService_GetPipeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPipelineResponse" message="tns:IBusinessService_GetPipeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetSpecialDeals" message="tns:IBusinessService_GetSpecialDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetSpecialDealsResponse" message="tns:IBusinessService_GetSpecialDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetAgents" message="tns:IBusinessService_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetAgentsResponse" message="tns:IBusinessService_GetAgents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPaymentReviews" message="tns:IBusinessService_GetPaymentReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPaymentReviewsResponse" message="tns:IBusinessService_GetPaymentReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetInvestmentInformation" message="tns:IBusinessService_GetInvestmentInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetInvestmentInformationResponse" message="tns:IBusinessService_GetInvestmentInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetInvestmentSummary" message="tns:IBusinessService_GetInvestmentSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetInvestmentSummaryResponse" message="tns:IBusinessService_GetInvestmentSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaitingPayments">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetWaitingPayments" message="tns:IBusinessService_GetWaitingPayments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetWaitingPaymentsResponse" message="tns:IBusinessService_GetWaitingPayments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessPayRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessPayRequest" message="tns:IBusinessService_ProcessPayRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessPayRequestResponse" message="tns:IBusinessService_ProcessPayRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUncheckedTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetUncheckedTransactions" message="tns:IBusinessService_GetUncheckedTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetUncheckedTransactionsResponse" message="tns:IBusinessService_GetUncheckedTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAssignment">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ReadAssignment" message="tns:IBusinessService_ReadAssignment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ReadAssignmentResponse" message="tns:IBusinessService_ReadAssignment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessAssignment">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessAssignment" message="tns:IBusinessService_ProcessAssignment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessAssignmentResponse" message="tns:IBusinessService_ProcessAssignment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectDebitExpectedDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetDirectDebitExpectedDate" message="tns:IBusinessService_GetDirectDebitExpectedDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetDirectDebitExpectedDateResponse" message="tns:IBusinessService_GetDirectDebitExpectedDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetSystemDate" message="tns:IBusinessService_GetSystemDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetSystemDateResponse" message="tns:IBusinessService_GetSystemDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFundSwitch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessFundSwitch" message="tns:IBusinessService_ProcessFundSwitch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessFundSwitchResponse" message="tns:IBusinessService_ProcessFundSwitch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessNewSwitch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessNewSwitch" message="tns:IBusinessService_ProcessNewSwitch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessNewSwitchResponse" message="tns:IBusinessService_ProcessNewSwitch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRedirection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessRedirection" message="tns:IBusinessService_ProcessRedirection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessRedirectionResponse" message="tns:IBusinessService_ProcessRedirection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBeneficiary">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/UpdateBeneficiary" message="tns:IBusinessService_UpdateBeneficiary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/UpdateBeneficiaryResponse" message="tns:IBusinessService_UpdateBeneficiary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessPartialSurrender">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessPartialSurrender" message="tns:IBusinessService_ProcessPartialSurrender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessPartialSurrenderResponse" message="tns:IBusinessService_ProcessPartialSurrender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRegularWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessRegularWithdrawal" message="tns:IBusinessService_ProcessRegularWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessRegularWithdrawalResponse" message="tns:IBusinessService_ProcessRegularWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProposal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AddProposal" message="tns:IBusinessService_AddProposal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AddProposalResponse" message="tns:IBusinessService_AddProposal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AddClient" message="tns:IBusinessService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AddClientResponse" message="tns:IBusinessService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContactDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AddContactDetails" message="tns:IBusinessService_AddContactDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AddContactDetailsResponse" message="tns:IBusinessService_AddContactDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetProducts" message="tns:IBusinessService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetProductsResponse" message="tns:IBusinessService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProtection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetProtection" message="tns:IBusinessService_GetProtection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetProtectionResponse" message="tns:IBusinessService_GetProtection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFullSurrender">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessFullSurrender" message="tns:IBusinessService_ProcessFullSurrender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessFullSurrenderResponse" message="tns:IBusinessService_ProcessFullSurrender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessCancellation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessCancellation" message="tns:IBusinessService_ProcessCancellation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessCancellationResponse" message="tns:IBusinessService_ProcessCancellation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetAgentList" message="tns:IBusinessService_GetAgentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetAgentListResponse" message="tns:IBusinessService_GetAgentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFunds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetAvailableFunds" message="tns:IBusinessService_GetAvailableFunds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetAvailableFundsResponse" message="tns:IBusinessService_GetAvailableFunds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewAvailableFunds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetNewAvailableFunds" message="tns:IBusinessService_GetNewAvailableFunds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetNewAvailableFundsResponse" message="tns:IBusinessService_GetNewAvailableFunds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientContactDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetClientContactDetails" message="tns:IBusinessService_GetClientContactDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetClientContactDetailsResponse" message="tns:IBusinessService_GetClientContactDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProposal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetProposal" message="tns:IBusinessService_GetProposal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetProposalResponse" message="tns:IBusinessService_GetProposal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetClient" message="tns:IBusinessService_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetClientResponse" message="tns:IBusinessService_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTopUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AddTopUp" message="tns:IBusinessService_AddTopUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AddTopUpResponse" message="tns:IBusinessService_AddTopUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetTopUp" message="tns:IBusinessService_GetTopUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetTopUpResponse" message="tns:IBusinessService_GetTopUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AddAgent" message="tns:IBusinessService_AddAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AddAgentResponse" message="tns:IBusinessService_AddAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicyOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/UpdatePolicyOwner" message="tns:IBusinessService_UpdatePolicyOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/UpdatePolicyOwnerResponse" message="tns:IBusinessService_UpdatePolicyOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/UpdateBankAccount" message="tns:IBusinessService_UpdateBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/UpdateBankAccountResponse" message="tns:IBusinessService_UpdateBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeIndexation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ChangeIndexation" message="tns:IBusinessService_ChangeIndexation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ChangeIndexationResponse" message="tns:IBusinessService_ChangeIndexation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstablishmentCharges">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetEstablishmentCharges" message="tns:IBusinessService_GetEstablishmentCharges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetEstablishmentChargesResponse" message="tns:IBusinessService_GetEstablishmentCharges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentBaseSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPaymentBaseSummary" message="tns:IBusinessService_GetPaymentBaseSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPaymentBaseSummaryResponse" message="tns:IBusinessService_GetPaymentBaseSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDescriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetProductDescriptions" message="tns:IBusinessService_GetProductDescriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetProductDescriptionsResponse" message="tns:IBusinessService_GetProductDescriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPipelineDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPipelineDownload" message="tns:IBusinessService_GetPipelineDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPipelineDownloadResponse" message="tns:IBusinessService_GetPipelineDownload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSwitchRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetSwitchRules" message="tns:IBusinessService_GetSwitchRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetSwitchRulesResponse" message="tns:IBusinessService_GetSwitchRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartialSurrenderRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetPartialSurrenderRules" message="tns:IBusinessService_GetPartialSurrenderRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetPartialSurrenderRulesResponse" message="tns:IBusinessService_GetPartialSurrenderRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFatca">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessFatca" message="tns:IBusinessService_ProcessFatca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessFatcaResponse" message="tns:IBusinessService_ProcessFatca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadItalianPostCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianPostCodes" message="tns:IBusinessService_LoadItalianPostCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianPostCodesResponse" message="tns:IBusinessService_LoadItalianPostCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadItalianProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianProvinces" message="tns:IBusinessService_LoadItalianProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianProvincesResponse" message="tns:IBusinessService_LoadItalianProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadItalianTownCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianTownCodes" message="tns:IBusinessService_LoadItalianTownCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianTownCodesResponse" message="tns:IBusinessService_LoadItalianTownCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAddressRelationship">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ChangeAddressRelationship" message="tns:IBusinessService_ChangeAddressRelationship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ChangeAddressRelationshipResponse" message="tns:IBusinessService_ChangeAddressRelationship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePolicyOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ChangePolicyOwner" message="tns:IBusinessService_ChangePolicyOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ChangePolicyOwnerResponse" message="tns:IBusinessService_ChangePolicyOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadItalianTownCodePairs">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianTownCodePairs" message="tns:IBusinessService_LoadItalianTownCodePairs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/LoadItalianTownCodePairsResponse" message="tns:IBusinessService_LoadItalianTownCodePairs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAddressData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/LoadAddressData" message="tns:IBusinessService_LoadAddressData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/LoadAddressDataResponse" message="tns:IBusinessService_LoadAddressData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCountryData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/LoadCountryData" message="tns:IBusinessService_LoadCountryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/LoadCountryDataResponse" message="tns:IBusinessService_LoadCountryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiscalCodeLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetFiscalCodeLocation" message="tns:IBusinessService_GetFiscalCodeLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetFiscalCodeLocationResponse" message="tns:IBusinessService_GetFiscalCodeLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoneyLaundering">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetMoneyLaundering" message="tns:IBusinessService_GetMoneyLaundering_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetMoneyLaunderingResponse" message="tns:IBusinessService_GetMoneyLaundering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PolicyReprint">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/PolicyReprint" message="tns:IBusinessService_PolicyReprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/PolicyReprintResponse" message="tns:IBusinessService_PolicyReprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DartaDeathClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/DartaDeathClaim" message="tns:IBusinessService_DartaDeathClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/DartaDeathClaimResponse" message="tns:IBusinessService_DartaDeathClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterPremium">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AlterPremium" message="tns:IBusinessService_AlterPremium_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AlterPremiumResponse" message="tns:IBusinessService_AlterPremium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDatvisionReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GetAvailableDatvisionReports" message="tns:IBusinessService_GetAvailableDatvisionReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GetAvailableDatvisionReportsResponse" message="tns:IBusinessService_GetAvailableDatvisionReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessPhasedSwitch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessPhasedSwitch" message="tns:IBusinessService_ProcessPhasedSwitch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessPhasedSwitchResponse" message="tns:IBusinessService_ProcessPhasedSwitch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDipAuthorisation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessDipAuthorisation" message="tns:IBusinessService_ProcessDipAuthorisation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessDipAuthorisationResponse" message="tns:IBusinessService_ProcessDipAuthorisation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessCRS">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessCRS" message="tns:IBusinessService_ProcessCRS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessCRSResponse" message="tns:IBusinessService_ProcessCRS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessTransformationProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/ProcessTransformationProduct" message="tns:IBusinessService_ProcessTransformationProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/ProcessTransformationProductResponse" message="tns:IBusinessService_ProcessTransformationProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBusinessService" type="tns:IBusinessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountryDictionary">
      <soap:operation soapAction="http://tempuri.org/ICommonBusinessService/GetCountryDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryDictionaryByKey">
      <soap:operation soapAction="http://tempuri.org/ICommonBusinessService/GetCountryDictionaryByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonISOCountryList">
      <soap:operation soapAction="http://tempuri.org/ICommonBusinessService/GetCommonISOCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountryList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetAllCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetClassificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClassificationList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetAllClassificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewTypeList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetReviewTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportingStatusList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetReportingStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRSClassificationList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetCRSClassificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRSReviewTypeList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetCRSReviewTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRSReportingStatusList">
      <soap:operation soapAction="http://tempuri.org/ISqlQueries/GetCRSReportingStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRebalancingFundSwitch">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessRebalancingFundSwitch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionPermissions">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetTransactionPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralPolicyInformation">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetGeneralPolicyInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBenefitSummary">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetBenefitSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentSummary">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPaymentSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyClients">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPolicyClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemos">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetMemos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentDetails">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetInvestmentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommissionDetails">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetCommissionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeneficiaries">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetBeneficiaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankDetails">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetBankDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactDetails">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetContactDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientPolicies">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetClientPolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirements">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetRequirements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPipeline">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPipeline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialDeals">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetSpecialDeals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentReviews">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPaymentReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentInformation">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetInvestmentInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentSummary">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetInvestmentSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaitingPayments">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetWaitingPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPayRequest">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessPayRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUncheckedTransactions">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetUncheckedTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAssignment">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ReadAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessAssignment">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectDebitExpectedDate">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetDirectDebitExpectedDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemDate">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetSystemDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFundSwitch">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessFundSwitch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessNewSwitch">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessNewSwitch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRedirection">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessRedirection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBeneficiary">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/UpdateBeneficiary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPartialSurrender">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessPartialSurrender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRegularWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessRegularWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProposal">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AddProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContactDetails">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AddContactDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtection">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetProtection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFullSurrender">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessFullSurrender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessCancellation">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgentList">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetAgentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFunds">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetAvailableFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewAvailableFunds">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetNewAvailableFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientContactDetails">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetClientContactDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposal">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTopUp">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AddTopUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopUp">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetTopUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAgent">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AddAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicyOwner">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/UpdatePolicyOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBankAccount">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/UpdateBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeIndexation">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ChangeIndexation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstablishmentCharges">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetEstablishmentCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentBaseSummary">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPaymentBaseSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDescriptions">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetProductDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPipelineDownload">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPipelineDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwitchRules">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetSwitchRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartialSurrenderRules">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetPartialSurrenderRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFatca">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessFatca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadItalianPostCodes">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/LoadItalianPostCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadItalianProvinces">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/LoadItalianProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadItalianTownCodes">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/LoadItalianTownCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAddressRelationship">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ChangeAddressRelationship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePolicyOwner">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ChangePolicyOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadItalianTownCodePairs">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/LoadItalianTownCodePairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAddressData">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/LoadAddressData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCountryData">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/LoadCountryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiscalCodeLocation">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetFiscalCodeLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyLaundering">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetMoneyLaundering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyReprint">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/PolicyReprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DartaDeathClaim">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/DartaDeathClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterPremium">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AlterPremium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDatvisionReports">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GetAvailableDatvisionReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPhasedSwitch">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessPhasedSwitch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDipAuthorisation">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessDipAuthorisation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessCRS">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessCRS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessTransformationProduct">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/ProcessTransformationProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <wsdl:port name="BasicHttpBinding_IBusinessService" binding="tns:BasicHttpBinding_IBusinessService">
      <soap:address location="http://serv8563/DartaBusinessServices/BusinessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>