ProductTests/ProductTests/Service References/BatchRunService/BatchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://windevad0401.europa.internal/CloasBatchService/BatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloasBatchProcess" />
  <xs:import schemaLocation="http://windevad0401.europa.internal/CloasBatchService/BatchService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CloasBatchProcess.Helpers" />
  <xs:element name="InvokeBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloasBatchProcess" minOccurs="0" name="batchRequest" nillable="true" type="q1:BatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CloasBatchProcess" minOccurs="0" name="InvokeBatchResult" nillable="true" type="q2:BatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobNumber" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloasBatchProcess.Helpers" minOccurs="0" name="GetJobStatusResult" type="q3:JobStatus" />
        <xs:element minOccurs="0" name="outputMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartRegionResult" type="xs:int" />
        <xs:element minOccurs="0" name="outputMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopRegionResult" type="xs:int" />
        <xs:element minOccurs="0" name="outputMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KillJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobNumber" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KillJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KillJobResult" type="xs:int" />
        <xs:element minOccurs="0" name="outputMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>